h1 {
    font: bold;
    font-size: 4rem;
    text-align: center;
    text-decoration: overline;
    color: rgb(126, 0, 126) ;
}

p {
   color: #60008d;   
}
h2 {
    font-size: 3rem;
    color: #b83cff;
    text-decoration: underline;
}
li {
    color: #38704C;
}
a {
    color: yellow;
} 
h3 {
    font-size: 2rem;
    color: #00aa3c;
}
* {
    background-color: rgb(0, 53, 168);
}