h1 {
    font: bold;
    font-size: 4rem;
    text-align: center;
    text-decoration: overline;
    color: rgb(45, 59, 70) ;
}

p {
   color: #8900c9;   
}
h2 {
    font-size: 3rem;
    color: #00b46f;
    text-decoration: underline;
}
li {
    color: #38704C;
}
a {
    color: rgb(211, 120, 0);
} 
h3 {
    font-size: 2rem;
    color: #005f21;
}
* {
    background-color: #189bcc;
}
h4 {
<<<<<<< HEAD
    color: rgb(0, 107, 32);
=======
    color: rgb(12, 50, 23);
>>>>>>> 0c424280dd967ee93e929ffe378a7044ae24eea6
}
